<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>memberList.html</title>
</head>
<body>

	<h1>JPA01 회원 조회</h1>
	
	<!-- 회원 검색 -->
	<div class="nav">
		<form action="/members/search" method="post">
			회원검색이름 : <input type="text" name="name" placeholder="회원검색 이름을 입력하세요.">
			<button type="submit">검색</button><p>
		</form>
	</div>

	<!-- 회원 목록 조회 -->
	<div class="container">
		<div>
			<table border="1">
			
				<thead>
					<tr>
						<th>No</th>
						<th>이름</th>
					</tr>
				</thead>
				
				<tbody>
					<tr th:each="member : ${members}">
						<td th:text="${member.id}"/>
						<td th:text="${member.name}"/>
					</tr>
				</tbody>
			
			</table>
		</div>
	</div>

</body>
</html>